@{
  Layout = "_Layout";
}
<div class = "container">
  <h1>Order Details for @Model["vendor"].VendorName</h1>
  <h2>@Model["order"].Title</h2>
  <h2>@Model["order"].Description</h2>
  <h2>@Model["order"].Price</h2>
  <h2>@Model["order"].Date</h2>
</div>

