@{
  Layout = "_Layout";
}
<div class = "container">
  <div class = "jumbotron">
    <h1>Order Details for @Model["vendor"].VendorName</h1>
    <h2>@Model["order"].Title</h2>
    <h2>@Model["order"].OrderDescription</h2>
    <h2>@Model["order"].Price</h2>
    <h2>@Model["order"].Date</h2><br>
    <p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order for @Model["vendor"].VendorName</a><br></p>
    <p><a href='/vendors'>View all Vendors</a></p>
    </div>
</div>

